<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>

<body>
<div id="user-form">
    <form method="post" th:action="@{/people/save}" th:object="${user}">
        <h2>Ввод личной информации</h2>
        <label>Имя</label>
        <input type="text" name="username" value="">
        <label>Возраст</label>
        <input type="text" name="age" value="">
        <input class="btn-user" type="submit" value="login">
    </form>
</div>

<form method="post" th:action="@{/people/remove}">
    <table>
        <tr>
            <td>
                <input type="text" placeholder="id number" th:name="userIdToRemove">
            </td>
            <td>
                <input type="submit" value="remove">
            </td>
        </tr>
    </table>
</form>

<table id="users">
    <tr>
        <th>id</th>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

</body>
</html>